# https://jekyllrb.com/docs/continuous-integration/

sudo: false # route your build to the container-based infrastructure for a faster build

language: ruby

rvm:
- 2.2.5

script: ./.travis.sh

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer

